* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dataPlace {
  color: rgb(65, 129, 249);
}
hr {
  margin: 0;
}
h1 {
  text-align: center;

  margin-top: 20px;
}
img.food1 {
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.credit {
  text-align: center;
}
.btn-primary {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
main.home {
  justify-items: center;
}
.img404 {
  display: block;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.main-page404 {
  text-align: center;
  padding-top: 50px;
}
.main-page404 p {
  font-size: 22px;
  color: red;
}
.index img {
  display: inline-block;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
}
.showPage {
  display: block;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
}
.ratingP {
  display: inline-flex;
  margin-top: 0;

  gap: 15px;
  align-items: center;
}
.rating,
.description,
.comments {
  color: cornflowerblue;
  font-size: 22px;
}
.description {
  margin-top: 10px;
}
.rating,
.comments {
  font-size: 20px;
}
.ratingDetails {
  font-size: 14px;
  align-self: auto;
  font-style: italic;
}
/* .rating {
  align-self: auto;
} */
/* .index {
  text-align: center;
  font-family: sans-serif;
} */
.located {
  padding-top: 10px;
}
/* .indexList {
  display: flex;
  gap: 20px;
  justify-content: center;
} */
nav {
  background-color: cornflowerblue;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 25px;
}

nav a {
  color: white;
  font-size: 1.5em;
}

nav a:hover {
  color: pink;
  text-decoration: none;
}
body {
  background-color: lightblue;
  text-align: center;
}

main {
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
}
.showButtonDiv {
  display: flex;
  gap: 15px;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn-edit {
  width: 72px;
}
form {
  padding-left: 10px;
  padding-right: 10px;
}
